@keyframes animate{
    0% {color: Magenta;}
     33% {color: aqua;}
     66% {color: dodgerblue;}
     100% {color: paleturquoise;}
  }
  
  h1{
    width: 35%;
    padding: 0px;
    border-bottom: 2px solid magenta;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    animation-name: animate;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }